@import "tailwindcss";

@theme{
  --color-*: initial; /* para usar só as cores q definimos */

  --color-blue-dark: #2E3DA3;
  --color-blue-base: #5165e1;
  --color-blue-light: #8996eb;

  --color-gray-100: #151619;
  --color-gray-200: #1e2024;
  --color-gray-300: #535964;
  --color-gray-400: #858b99;
  --color-gray-500: #e3e5e8;
  --color-gray-600: #f9fafa;

  --color-feedback-danger: #d03e3e;
  --color-feedback-danger-20: rgba(208, 62, 62, 0.2);

  --color-feedback-open: #cc3d6a;
  --color-feedback-open-20: rgba(204, 61, 106, 0.2);

  --color-feedback-progress: #355ec5;
  --color-feedback-progress-20: rgba(53, 94, 197, 0.2);

  --color-feedback-done: #508b26;
  --color-feedback-done-20: rgba(80, 139, 38, 0.2);
  
  --font-sans: "Lato", sans-serif;


}

:root {
  --bg-login: url('./assets/Login_Background.png');
}

.bg-login {
  background-image: var(--bg-login);
  background-size: cover;
  background-position: center;
}